[[source]]
url = 'https://pypi.python.org/simple'
verify_ssl = true
name = 'pypi'

[requires]
python_version = '3.11.1'

[scripts]
cli = "python cli.py"

[packages]
pyaudio = "~=0.2"
click = "~=8.1"
paho-mqtt = "~=1.6"

[dev-packages]
pytest = ">=7.2.0,<8"
black = "*"
isort = "*"
ipython = "*"
